body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777,
    width: 960px;
    font-sie: 18px;
    text-align: center;
    background-color: #777;
    
}

header, nav, section, aside, footer {
    background: #ebebeb;
    text-align: center;
    font-weight: bold；
}

article {
    color: #ebebeb;
    background: #777;
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
    height: 150px;
    font-size: 11px;
    padding-top: 3px;
    
}

h1, p {
    color: #777;
    background: #ebebeb;
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 15px;
}

section {
    width: 495px;
    float: left;
    margin: 15px;
    height: 240px;
    font-size: 11px;
    margin-top: 5px;
}

Aside {
    width: 485px;
    float: left;
    margin: 15px;
    height: 240px;
    font-size: 11px;
    margin-top: 5px;
  
}

Header, nav {
    width: 950px;
    padding: 30px;
    margin: 15px;
    

}


footer {
    clear: both;
    margin: 15px;
    margin-top: 280px;
    width: 950px;
    padding: 30px;
}


}
